.header__logo {
  display: flex;
  justify-content: center;
  margin: 30px auto 0px;
  width: 254px;
}

.header__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__title {
  margin: 0;
  font-family: "Inter";
  font-size: 96px;
  font-weight: bold;
  line-height: 100px;
  max-width: 720px;
  text-align: center;
  margin-top: 91px;
}

.header__subtitle {
  margin: 0;
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 730px;
  margin-top: 32px;
}

.header__image {
  max-width: 984px;
  width: 100%;
  height: 615px;
  margin-top: 44px;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 20px 5px 0px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    max-width: 254px;
    height: 66px;
  }
  .header__title {
    max-width: 530px;
    font-size: 56px;
  }
  .header__subtitle {
    max-width: 720px;
  }
  .header__image {
    width: 768px;
    height: 480px;
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 188px;
    height: 52px;
    display: flex;
    align-items: center;
  }
  .header__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
  }
  .header__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
  .header__image {
    width: 320px;
    height: 200px;
    max-width: 100%;
  }
}
