.header__logo {
  display: flex;
  justify-content: center;
  margin: 30px auto 0px;
  width: 254px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__title {
  font-family: "Inter";
  font-size: 96px;
  font-weight: bold;
  line-height: 100px;
  max-width: 720px;
  max-height: 200px;
  text-align: center;
  margin-top: 91px;
}

.header__subtitle {
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 730px;
  margin-top: 32px;
}

.header__image {
  width: 984px;
  margin-top: 44px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 254px;
    height: 66px;
  }
  .header__title {
  }
}

@media screen and (max-width: 320px) {
}
