.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 466px auto;
  padding-top: 140px;
}
.place__header {
  position: relative;
  right: -1px;
  align-self: center;
  top: 28px;
}
.place__tittle {
  font-family: "Inter";
  font-size: 72px;
  line-height: 76px;
  justify-self: center;
  margin-left: 151px;
  margin-bottom: 48px;
  align-self: center;
}
.place__artist {
  font-size: 12px;
  color: #aaaaaa;
  line-height: 14px;
  letter-spacing: 12%;
}
.place__author {
  font-size: 18px;
  line-height: 22px;
}
.place__image {
  max-width: 460px;
  margin-left: 151px;
}
.place__description {
  font-size: 18px;
  max-width: 484px;
  line-height: 29px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
